In [57]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [96]:
data = pd.read_csv('C://Users//А4//projects//Projects//module_1//movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1525,tt0419946,20000000,22165608,The Marine,John Cena|Kelly Carlson|Robert Patrick|Abigail...,John Bonito,War is Fine But The Fight Continues,A group of diamond thieves on the run kidnap t...,92,Action|Adventure|Drama|Thriller,Twentieth Century Fox Film Corporation|Pacific...,10/13/2006,5.0,2006
1429,tt0408524,30000000,34252847,Bad News Bears,Billy Bob Thornton|Ken Medlock|Aman Johal|Greg...,Richard Linklater,The bases are loaded... so is the coach.,Morris Buttermaker is a burned-out minor leagu...,113,Comedy|Family,Paramount Pictures,7/22/2005,5.5,2005
360,tt1095174,8000000,29010817,New in Town,RenÃ©e Zellweger|Harry Connick Jr.|J.K. Simmon...,Jonas Elmer,She's an executive on the move. But her career...,Lucy Hill is an ambitious up-and-coming execut...,97,Comedy|Romance,Lionsgate|Edmonds Entertainment Group (EEG)|Ep...,1/30/2009,5.3,2009
823,tt1637706,10000000,17273593,Our Idiot Brother,Paul Rudd|Elizabeth Banks|Zooey Deschanel|Emil...,Jesse Peretz,Everybody has one.,Everybody has one. The sibling who is always j...,90,Comedy|Drama,The Weinstein Company,8/26/2011,5.7,2011
1854,tt0158622,83000000,59468275,The Flintstones in Viva Rock Vegas,Mark Addy|Stephen Baldwin|Kristen Johnston|Jan...,Brian Levant,Get ready to rock!,The Flintstones are at it again. The Flintston...,90,Science Fiction|Comedy|Family|Romance,Universal Pictures|Amblin Entertainment,4/28/2000,4.4,2000

In [0]:
data.describe()

# Предобработка

In [100]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# код получения столбца profit
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [75]:
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# Добавляем ответ в словарь

In [26]:
data.iloc[data['budget'].argmax()] 
# функция argmax находит номер строки с максимумом, а iloc выводит информацию о ней

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

ВАРИАНТ 2

In [21]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [36]:
# +
answers['2'] = 'Gods and Generals (tt0279111)'
# Добавляем ответ в словарь

In [32]:
data.iloc[data['runtime'].argmax()] 
# функция argmax находит номер строки с максимумом, а iloc выводит информацию о ней

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [37]:
# +
answers['3'] = 'Winnie the Pooh (tt1449283)'
# Добавляем ответ в словарь

In [33]:
data.iloc[data['runtime'].argmin()] 
# функция argmin находит номер строки с минимумом, а iloc выводит информацию о ней

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [48]:
# +
answers['4'] = '110'
# Добавляем ответ в словарь

In [47]:
round(data['runtime'].mean())
# Находим среднее значение через mean в столбце runtime, округляем до целого функцией round

110

# 5. Каково медианное значение длительности фильмов?

In [50]:
# +
answers['5'] = '107'
# Добавляем ответ в словарь

In [49]:
round(data['runtime'].median())
# Находим медианное значение через median в столбце runtime, округляем до целого функцией round

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [62]:
# +
answers['6'] = 'Avatar (tt0499549)'
# Добавляем ответ в словарь

In [54]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# вынес в главу Предобработка

In [61]:
data.iloc[data['profit'].argmax()] 
# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [64]:
# +
answers['7'] = 'The Lone Ranger (tt1210819)'
# Добавляем ответ в словарь

In [63]:
data.iloc[data['profit'].argmin()]
# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
# +
answers['8'] = '1478'
# Добавляем ответ в словарь

In [65]:
len(data[data['profit'] > 0])
# с помощью простой фильтрации находим фильмы в датафрейме с положительным profit, 
# вычисляем длинну датафрейма с функцией len

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
# +
answers['9'] = 'The Dark Knight (tt0468569)'
# Добавляем ответ в словарь

In [69]:
# создаем датафрейм фильмов с релизом в 2008 году
data_2008 = data[data['release_year'] == 2008]

# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней
data_2008.iloc[data_2008['profit'].argmax()]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [73]:
# +
answers['10'] = 'The Lone Ranger (tt1210819)'
# Добавляем ответ в словарь

In [106]:
# создаем датафрейм фильмов с релизом c 2012 по 2014 годы включительно
data_2012_2014 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]

# функция argmin находит номер строки с минимом столбца profit, а iloc выводит информацию о ней
data_2012_2014.iloc[data_2012_2014['profit'].argmin()]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
# +
answers['11'] = 'Drama'
# Добавляем ответ в словарь

In [104]:
# ВАРИАНТ 1

# Создаем список жанров фильмов функцией sum, разделив перед этим значения ячеек genres функцией split('|')
# Создаем Series из списка жанров
data_genres = pd.Series(data.genres.str.split('|').sum())

# Считаем колличество значений для каждого жанра 
data_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [102]:
# Все тоже самое для варинта 1, но в одну строку
pd.Series(data.genres.str.split('|').sum()).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [109]:
# +
answers['12'] = 'Drama'
# Добавляем ответ в словарь

In [108]:
# создаем датафрейм фильмов с profit болльше нуля, т.е. прибыльных
data_profit = data[data['profit'] > 0]

# Создаем список жанров фильмов функцией sum, разделив перед этим значения ячеек genres функцией split('|')
# Создаем Series из списка жанров
# Считаем колличество значений для каждого жанра с помощью функции value_counts
pd.Series(data_profit.genres.str.split('|').sum()).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
# +
answers['12'] = ''
# Добавляем ответ в словарь

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)