In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('C://Users//А4//projects//Projects//module_1//movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
142,tt1872181,200000000,705717432,The Amazing Spider-Man 2,Andrew Garfield|Emma Stone|Jamie Foxx|Dane DeH...,Marc Webb,No more secrets.,"For Peter Parker, life is busy. Between taking...",142,Action|Adventure|Fantasy,Columbia Pictures|Marvel Enterprises|Avi Arad ...,4/16/2014,6.6,2014
477,tt1027718,70000000,134748021,Wall Street: Money Never Sleeps,Michael Douglas|Shia LaBeouf|Josh Brolin|Carey...,Oliver Stone,Gordon never gives up.,As the global economy teeters on the brink of ...,133,Drama|Crime,Twentieth Century Fox Film Corporation|Dune En...,9/2/2010,5.8,2010
1226,tt1211956,50000000,122915111,Escape Plan,Sylvester Stallone|Arnold Schwarzenegger|Jim C...,Mikael HÃ¥fstrÃ¶m,No one breaks out alone.,Ray Breslin is the world's foremost authority ...,115,Action|Thriller,Summit Entertainment|Atmosphere Entertainment ...,10/9/2013,6.7,2013
176,tt2626350,45000000,86165646,Step Up All In,Ryan Guzman|Briana Evigan|Stephen Boss|Misha G...,Trish Sie,Every Step Has Led To This,All-stars from the previous Step Up installmen...,112,Romance|Drama|Music,Summit Entertainment|Offspring Entertainment,7/16/2014,6.7,2014
492,tt1391137,20000000,60072596,Why Did I Get Married Too?,Tyler Perry|Janet Jackson|Jill Scott|Sharon Le...,Tyler Perry,Marriage is an institution they're committed to.,Four couples reunite for their annual vacation...,121,Comedy|Romance,Lions Gate Films|The Tyler Perry Company,4/2/2010,6.0,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# код получения столбца profit
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [75]:
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# Добавляем ответ в словарь

In [26]:
data.iloc[data['budget'].argmax()] 
# функция argmax находит номер строки с максимумом, а iloc выводит информацию о ней

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

ВАРИАНТ 2

In [21]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [36]:
# +
answers['2'] = 'Gods and Generals (tt0279111)'
# Добавляем ответ в словарь

In [32]:
data.iloc[data['runtime'].argmax()] 
# функция argmax находит номер строки с максимумом, а iloc выводит информацию о ней

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [37]:
# +
answers['3'] = 'Winnie the Pooh (tt1449283)'
# Добавляем ответ в словарь

In [33]:
data.iloc[data['runtime'].argmin()] 
# функция argmin находит номер строки с минимумом, а iloc выводит информацию о ней

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [48]:
# +
answers['4'] = '110'
# Добавляем ответ в словарь

In [47]:
round(data['runtime'].mean())
# Находим среднее значение через mean в столбце runtime, округляем до целого функцией round

110

# 5. Каково медианное значение длительности фильмов?

In [50]:
# +
answers['5'] = '107'
# Добавляем ответ в словарь

In [49]:
round(data['runtime'].median())
# Находим медианное значение через median в столбце runtime, округляем до целого функцией round

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [62]:
# +
answers['6'] = 'Avatar (tt0499549)'
# Добавляем ответ в словарь

In [54]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# вынес в главу Предобработка

In [61]:
data.iloc[data['profit'].argmax()] 
# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [64]:
# +
answers['7'] = 'The Lone Ranger (tt1210819)'
# Добавляем ответ в словарь

In [63]:
data.iloc[data['profit'].argmin()]
# функция argmin находит номер строки с минимумом столбца profit, а iloc выводит информацию о ней

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
# +
answers['8'] = '1478'
# Добавляем ответ в словарь

In [65]:
len(data[data['profit'] > 0])
# с помощью простой фильтрации находим фильмы в датафрейме с положительным profit, 
# вычисляем длинну датафрейма с функцией len

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
# +
answers['9'] = 'The Dark Knight (tt0468569)'
# Добавляем ответ в словарь

In [69]:
# создаем датафрейм фильмов с релизом в 2008 году
data_2008 = data[data['release_year'] == 2008]

# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней
data_2008.iloc[data_2008['profit'].argmax()]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [73]:
# +
answers['10'] = 'The Lone Ranger (tt1210819)'
# Добавляем ответ в словарь

In [106]:
# создаем датафрейм фильмов с релизом c 2012 по 2014 годы включительно
data_2012_2014 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]

# функция argmin находит номер строки с минимумом столбца profit, а iloc выводит информацию о ней
data_2012_2014.iloc[data_2012_2014['profit'].argmin()]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
# +
answers['11'] = 'Drama'
# Добавляем ответ в словарь

In [104]:
# ВАРИАНТ 1

# Создаем список жанров фильмов функцией sum, разделив перед этим значения ячеек genres функцией split('|')
# Создаем Series из списка жанров
data_genres = pd.Series(data.genres.str.split('|').sum())

# Считаем колличество значений для каждого жанра 
data_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [102]:
# Все тоже самое для варинта 1, но в одну строку
pd.Series(data.genres.str.split('|').sum()).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [109]:
# +
answers['12'] = 'Drama'
# Добавляем ответ в словарь

In [108]:
# создаем датафрейм фильмов с profit болльше нуля, т.е. прибыльных
data_profit = data[data['profit'] > 0]

# Создаем список жанров фильмов функцией sum, разделив перед этим значения ячеек genres функцией split('|')
# Создаем Series из списка жанров
# Считаем колличество значений для каждого жанра с помощью функции value_counts
pd.Series(data_profit.genres.str.split('|').sum()).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [18]:
# +
answers['13'] = 'Peter Jackson'
# Добавляем ответ в словарь

In [17]:
# создаем копию 
data_director = data.copy()

# разделяем значения столбца director по знаку '|'
data_director['director'] = data_director.director.str.split('|')

# функцией explode создаем копии строк в которых несколько режисеров с одним режисером
data_director_1 = data_director.explode('director')

# создаем датафрейм data_director, группируем в него с помощью функции groupby сумму (sum) сборов (revenue)
# по каждому режисеру (director), сортируем датафрейм функцией sort_values по убыванию ascending=False
data_director_2 = data_director_1.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

# выводим первую строку датафрейма с ответом
data_director_2.head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [49]:
# +
answers['14'] = 'Robert Rodriguez'
# Добавляем ответ в словарь

In [50]:
# создаем копию 
data_director = data.copy()

# разделяем значения столбца director по знаку '|'
data_director['director'] = data_director.director.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько режисеров с одним режисером
data_director_1 = data_director.explode('director')

# далее используем разделенный по одному режисеру файл data_director_1
# разделяем значения столбца genres по знаку '|'
data_director_1['genres'] = data_director_1.genres.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько жанров с одним жанром
data_director_genres_1 = data_director_1.explode('genres')

# с помощью функции contains фильтруем в столбце genres по фильмам жанра Action режисеров 
# сортируем датафрейм функцией sort_values по убыванию ascending=False
data_director_genres_1[data_director_genres_1['genres'].str.contains('Action')]['director'].\
value_counts().sort_values(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Wayne Kramer          1
Andrew Stanton        1
Rod Lurie             1
Jay Chandrasekhar     1
Kevin Smith           1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
# +
answers['15'] = 'Chris Hemsworth'
# Добавляем ответ в словарь

In [58]:
# создаем копию 
data_cast = data.copy()

# разделяем значения столбца актеры cast по знаку '|'
data_cast['cast'] = data_cast.cast.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько актеров с одним актером
data_cast_1 = data_cast.explode('cast')

# создаем датафрейм фильмов с релизом в 2012 году
data_cast_2012 = data_cast_1[data_cast_1['release_year'] == 2012]

# создаем датафрейм revenue_cast_2012, группируем в него с помощью функции groupby сумму (sum) сборов (revenue)
# по каждому актеру (cast), сортируем датафрейм функцией sort_values по убыванию ascending=False
revenue_cast_2012 = data_cast_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

# выводим первую строку датафрейма с ответом
revenue_cast_2012.head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [68]:
# +
answers['16'] = 'Matt Damon'
# Добавляем ответ в словарь

In [67]:
# создаем копию 
data_cast_rich = data.copy()

# разделяем значения столбца актеры cast по знаку '|'
data_cast_rich['cast'] = data_cast_rich.cast.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько актеров с одним актером
data_cast_rich_1 = data_cast_rich.explode('cast')

# вычисляем средний бюджет
budget_mean = round(data['budget'].mean())

# создаем новый датафрейм с фильмами с бюджетом больше среднего
data_high_budget = data_cast_rich_1[data_cast_rich_1['budget'] > budget_mean]

# с помощью функции value_counts считаем в скольких фильмах с бюджетом выше среднего снимались актеры
cast_high_budget = data_high_budget['cast'].value_counts()
cast_high_budget

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Johnny Whitworth      1
Charlie Tahan         1
Sarah Wynter          1
Oliver Reed           1
Rachel Bilson         1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [72]:
# +
answers['17'] = 'Action'
# Добавляем ответ в словарь

In [71]:
# создаем копию 
data_cast_genres = data.copy()

# разделяем значения столбца актеры cast по знаку '|'
data_cast_genres['cast'] = data_cast_genres.cast.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько актеров с одним актером
data_cast_genres_1 = data_cast_genres.explode('cast')

# далее используем разделенный по одному актеру файл data_cast_genres_1
# разделяем значения столбца genres по знаку '|'
data_cast_genres_1['genres'] = data_cast_genres_1.genres.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько жанров с одним жанром
data_cast_genres_2 = data_cast_genres_1.explode('genres')

# создаем новый датафрейм с фильмами с Nicolas Cage
data_genres_Nicolas_Cage = data_cast_genres_2[data_cast_genres_2['cast'] == 'Nicolas Cage']

# с помощью функции value_counts считаем фильмы с жанрами
genres_Nicolas_Cage = data_genres_Nicolas_Cage['genres'].value_counts()
genres_Nicolas_Cage

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [13]:
# +
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# Добавляем ответ в словарь

In [29]:
# создаем копию 
data_companies = data.copy()

# разделяем значения столбца компании (production_companies) по знаку '|'
data_companies['production_companies'] = data_companies.production_companies.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько компаний с одной компанией
data_companies_1 = data_companies.explode('production_companies')

# создаем датафрейм data_Paramount и фильтруем в него датафрейм data_companies_1
data_Paramount = data_companies_1[data_companies_1['production_companies'] == 'Paramount Pictures']

# функция argmin находит номер строки с минимумом столбца profit, а iloc выводит информацию о ней
data_Paramount.iloc[data_Paramount['profit'].argmin()]

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies                                   Paramount Pictures
release_date                                                    7/19/2002
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [17]:
# +
answers['19'] = '2015'
# Добавляем ответ в словарь

In [21]:
# создаем датафрейм revenue_release_year, группируем в него с помощью функции groupby сумму (sum) сборов (revenue)
# по каждому году (release_year), сортируем датафрейм функцией sort_values по убыванию ascending=False
revenue_release_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

# выводим первую строку датафрейма с ответом
revenue_release_year.head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [40]:
# +
answers['20'] = '2014'
# Добавляем ответ в словарь

In [39]:
# создаем датафрейм data_Warner_Bros и фильтруем в него датафрейм data_companies_1
# все строки содержащие (contains) компанию Warner Bros
# датафрейм data_companies_1 создан в задаче 18
data_Warner_Bros = data_companies_1[data_companies_1['production_companies'].str.contains('Warner Bros')]

# создаем датафрейм year_Warner_Bros, группируем в него с помощью функции groupby сумму (sum) сборов (revenue)
# по каждому году (release_year), сортируем датафрейм data_Warner_Bros функцией sort_values по убыванию ascending=False
revenue_year_Warner_Bros = data_Warner_Bros.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

# выводим первую строку датафрейма с ответом
revenue_year_Warner_Bros.head(1)

release_year
2014    3246549646
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
# +
answers['21'] = 'Сентябрь'
# Добавляем ответ в словарь

In [75]:
data_month = data.copy()

# Передаем в модуль datetime формат дата в столбце release_date
data_month.release_date = data_month.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

# Вместо всей даты оставляем только месяцы
data_month.release_date = data_month.release_date.apply(lambda x: x.strftime('%B'))

# с помощью функции value_counts считаем фильмы по месяцам
data_month1 = data_month['release_date'].value_counts()

# выводим первую строку с ответом
data_month1.head(1)

September    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
# +
answers['22'] = '450'
# Добавляем ответ в словарь

In [66]:
data_month = data.copy()

# Передаем в модуль datetime формат дата в столбце release_date
data_month.release_date = data_month.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

# Вместо всей даты оставляем только месяцы
data_month.release_date = data_month.release_date.apply(lambda x: x.strftime('%B'))

# с помощью функции value_counts считаем фильмы по месяцам
data_month1 = data_month['release_date'].value_counts()

summer_is_comming = data_month1['June'] + data_month1['July'] + data_month1['August']
summer_is_comming

print(f'Фильмы летом {summer_is_comming} шт.')

Фильмы летом 450 шт.

# 23. Для какого режиссера зима – самое продуктивное время года?

In [91]:
# +
answers['23'] = 'Steven Soderbergh'
# Добавляем ответ в словарь

In [76]:
import datetime as dt

# создаем копию 
data_director_winter = data.copy()

# разделяем значения столбца director по знаку '|'
data_director_winter['director'] = data_director_winter.director.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько режисеров с одним режисером
data_director_winter1 = data_director_winter.explode('director')

# преобразуем строку в объект дата-время
data_director_winter1.release_date = pd.to_datetime(data.release_date)

# фильтруем с помощью isin по зимним месяцам month (1, 2, 12)
data_director_winter2 = data_director_winter1[data_director_winter1.release_date.dt.month.isin([1, 2, 12])] 

# с помощью функции value_counts считаем упоминание каждого режисреа
director_winter1 = data_director_winter2['director'].value_counts()

# выводим первую строку с ответом
director_winter1.head(5)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Martin Scorsese      4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [105]:
# +
answers['24'] = 'Four By Two Productions'
# Добавляем ответ в словарь

In [33]:
# создаем копию 
data_len_film_name = data.copy()

# код получения столбца len_film_name длинна названия фильма
data_len_film_name['len_film_name'] = data_len_film_name['original_title'].str.len()

# разделяем значения столбца компании (production_companies) по знаку '|'
data_len_film_name['production_companies'] = data_len_film_name.production_companies.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько компаний с одной компанией
data_len_film_name_mean = data_len_film_name.explode('production_companies')

# функцией mean считаем среднюю длину названия фильма, сортируем по убыванию sort_values(ascending=False)
data_len_film_name_mean.groupby(['production_companies'])['len_film_name'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_film_name, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [34]:
# +
answers['25'] = 'Midnight Picture Show'
# Добавляем ответ в словарь

In [32]:
# создаем копию 
data_len_words_name = data.copy()

# разделяем значения столбца компании (production_companies) по знаку '|'
data_len_words_name['production_companies'] = data_len_words_name.production_companies.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько компаний с одной компанией
data_len_words_name1 = data_len_words_name.explode('production_companies')

# код получения столбца word разбитого по пробелам списка слов
data_len_words_name1['word'] = data_len_words_name1['overview'].str.split(' ')

# код получения столбца word_number количество слов описания фильма
data_len_words_name1['word_number'] = data_len_words_name1['word'].str.len()

# функцией mean считаем среднюю длину по количесву слов описания фильма, 
# сортируем по убыванию sort_values(ascending=False)
data_len_words_name1.groupby(['production_companies'])['word_number'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: word_number, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
# +
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# Добавляем ответ в словарь

In [56]:
# создаем копию 
data_1_best = data.copy()

# находим колличество строк-фильмов в датафрейм и считаем сколько фильмов в 1%
len_data = len(data.index)
len_data_1 = int(len_data/100)

# фильтруем датафрейм по рейтингу
# и выводим 1 процент отфильтрованного списка (len_data_1)
data_1_best.sort_values(by =['vote_average'], ascending=False).head(len_data_1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [68]:
# +
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# Добавляем ответ в словарь

In [ ]:
ВАРИАНТ 1

In [67]:
# создаем копию 
data_cast_together = data.copy()

from itertools import combinations

combs = [] 
for cast in data_cast_together.cast.str.split('|'):
    combs.extend(combinations(cast, 2))
pd.Series(combs).value_counts().index[0]
pd.Series(combs).value_counts().index[1]

('Daniel Radcliffe', 'Rupert Grint')

ВАРИАНТ 2

In [64]:
from itertools import combinations

# создаем копию 
data_cast_together = data.copy()

cast_together = Counter()
for i in range(0,len(data_cast_together)):
    artist = data_cast_together.cast[i].split('|')
    for j in list(combinations(artist,2)):
        if j not in cast_together:
            cast_together[j] = 1
        else:
            cast_together[j] += 1
cast_together.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)