In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [44]:
data = pd.read_csv('C://Users//А4//projects//Projects//module_1//movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
473,tt0872230,25000000,19829957,My Soul to Take,Max Thieriot|John Magaro|Denzel Whitaker|Zena ...,Wes Craven,Only One Has The Power To Save Their Souls,A serial killer returns to his hometown to sta...,107,Drama|Horror|Mystery|Thriller,Relativity Media|Rogue,10/8/2010,5.2,2010
1646,tt0362270,50000000,34808403,The Life Aquatic with Steve Zissou,Bill Murray|Anjelica Huston|Cate Blanchett|Wil...,Wes Anderson,"The deeper you go, the weirder life gets.",Wes Andersonâ€™s incisive quirky comedy build ...,119,Adventure|Comedy|Drama,Touchstone Pictures,12/10/2004,7.0,2004
1762,tt0489237,20000000,47738099,The Nanny Diaries,Scarlett Johansson|Laura Linney|Chris Evans|Pa...,Shari Springer Berman|Robert Pulcini,"A comedy about life at the top, as seen from t...",A college graduate goes to work as a nanny for...,106,Comedy|Drama|Romance,The Weinstein Company|FilmColony,8/24/2007,6.0,2007
673,tt0800241,15000000,5926410,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008
589,tt0273799,12000000,17292381,Max Keeble's Big Move,Alex D. Linz|Zena Grey|Nora Dunn|Larry Miller|...,Tim Hill,His World. His Rules.,"Max Keeble, the victim of his 7th grade class,...",86,Comedy|Family|Fantasy|Science Fiction,Walt Disney Pictures|Karz Entertainment,10/5/2001,5.3,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [45]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# код получения столбца profit
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [75]:
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# Добавляем ответ в словарь

In [26]:
data.iloc[data['budget'].argmax()] 
# функция argmax находит номер строки с максимумом, а iloc выводит информацию о ней

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

ВАРИАНТ 2

In [21]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [36]:
# +
answers['2'] = 'Gods and Generals (tt0279111)'
# Добавляем ответ в словарь

In [32]:
data.iloc[data['runtime'].argmax()] 
# функция argmax находит номер строки с максимумом, а iloc выводит информацию о ней

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [37]:
# +
answers['3'] = 'Winnie the Pooh (tt1449283)'
# Добавляем ответ в словарь

In [33]:
data.iloc[data['runtime'].argmin()] 
# функция argmin находит номер строки с минимумом, а iloc выводит информацию о ней

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [48]:
# +
answers['4'] = '110'
# Добавляем ответ в словарь

In [47]:
round(data['runtime'].mean())
# Находим среднее значение через mean в столбце runtime, округляем до целого функцией round

110

# 5. Каково медианное значение длительности фильмов?

In [50]:
# +
answers['5'] = '107'
# Добавляем ответ в словарь

In [49]:
round(data['runtime'].median())
# Находим медианное значение через median в столбце runtime, округляем до целого функцией round

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [62]:
# +
answers['6'] = 'Avatar (tt0499549)'
# Добавляем ответ в словарь

In [54]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# вынес в главу Предобработка

In [61]:
data.iloc[data['profit'].argmax()] 
# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [64]:
# +
answers['7'] = 'The Lone Ranger (tt1210819)'
# Добавляем ответ в словарь

In [63]:
data.iloc[data['profit'].argmin()]
# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
# +
answers['8'] = '1478'
# Добавляем ответ в словарь

In [65]:
len(data[data['profit'] > 0])
# с помощью простой фильтрации находим фильмы в датафрейме с положительным profit, 
# вычисляем длинну датафрейма с функцией len

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
# +
answers['9'] = 'The Dark Knight (tt0468569)'
# Добавляем ответ в словарь

In [69]:
# создаем датафрейм фильмов с релизом в 2008 году
data_2008 = data[data['release_year'] == 2008]

# функция argmax находит номер строки с максимумом столбца profit, а iloc выводит информацию о ней
data_2008.iloc[data_2008['profit'].argmax()]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [73]:
# +
answers['10'] = 'The Lone Ranger (tt1210819)'
# Добавляем ответ в словарь

In [106]:
# создаем датафрейм фильмов с релизом c 2012 по 2014 годы включительно
data_2012_2014 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]

# функция argmin находит номер строки с минимом столбца profit, а iloc выводит информацию о ней
data_2012_2014.iloc[data_2012_2014['profit'].argmin()]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
# +
answers['11'] = 'Drama'
# Добавляем ответ в словарь

In [104]:
# ВАРИАНТ 1

# Создаем список жанров фильмов функцией sum, разделив перед этим значения ячеек genres функцией split('|')
# Создаем Series из списка жанров
data_genres = pd.Series(data.genres.str.split('|').sum())

# Считаем колличество значений для каждого жанра 
data_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [102]:
# Все тоже самое для варинта 1, но в одну строку
pd.Series(data.genres.str.split('|').sum()).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [109]:
# +
answers['12'] = 'Drama'
# Добавляем ответ в словарь

In [108]:
# создаем датафрейм фильмов с profit болльше нуля, т.е. прибыльных
data_profit = data[data['profit'] > 0]

# Создаем список жанров фильмов функцией sum, разделив перед этим значения ячеек genres функцией split('|')
# Создаем Series из списка жанров
# Считаем колличество значений для каждого жанра с помощью функции value_counts
pd.Series(data_profit.genres.str.split('|').sum()).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [18]:
# +
answers['13'] = 'Peter Jackson'
# Добавляем ответ в словарь

In [17]:
# создаем копию списка
data_director = data.copy()

# разделяем значения столбца director по знаку '|'
data_director['director'] = data_director.director.str.split('|')

# функцией explode создаем копии строк в которых несколько режисеров с одним режисером
data_director_1 = data_director.explode('director')

# создаем датафрейм data_director, группируем в него с помощью функции groupby сумму (sum) сборов (revenue)
# по каждому режисеру (director), сортируем датафрейм функцией sort_values по убыванию ascending=False
data_director_2 = data_director_1.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

# выводим первую строку датафрейма с ответом
data_director_2.head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [49]:
# +
answers['14'] = 'Robert Rodriguez'
# Добавляем ответ в словарь

In [50]:
# создаем копию списка
data_director = data.copy()

# разделяем значения столбца director по знаку '|'
data_director['director'] = data_director.director.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько режисеров с одним режисером
data_director_1 = data_director.explode('director')

# далее используем разделенный по одному режисеру файл data_director_1
# разделяем значения столбца genres по знаку '|'
data_director_1['genres'] = data_director_1.genres.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько жанров с одним жанром
data_director_genres_1 = data_director_1.explode('genres')

# с помощью функции contains фильтруем в столбце genres по фильмам жанра Action режисеров 
# сортируем датафрейм функцией sort_values по убыванию ascending=False
data_director_genres_1[data_director_genres_1['genres'].str.contains('Action')]['director'].\
value_counts().sort_values(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Wayne Kramer          1
Andrew Stanton        1
Rod Lurie             1
Jay Chandrasekhar     1
Kevin Smith           1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
# +
answers['15'] = 'Chris Hemsworth'
# Добавляем ответ в словарь

In [58]:
# создаем копию списка
data_cast = data.copy()

# разделяем значения столбца актеры cast по знаку '|'
data_cast['cast'] = data_cast.cast.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько актеров с одним актером
data_cast_1 = data_cast.explode('cast')

# создаем датафрейм фильмов с релизом в 2012 году
data_cast_2012 = data_cast_1[data_cast_1['release_year'] == 2012]

# создаем датафрейм revenue_cast_2012, группируем в него с помощью функции groupby сумму (sum) сборов (revenue)
# по каждому актеру (cast), сортируем датафрейм функцией sort_values по убыванию ascending=False
revenue_cast_2012 = data_cast_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

# выводим первую строку датафрейма с ответом
revenue_cast_2012.head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [68]:
# +
answers['16'] = 'Matt Damon'
# Добавляем ответ в словарь

In [67]:
# создаем копию списка
data_cast_rich = data.copy()

# разделяем значения столбца актеры cast по знаку '|'
data_cast_rich['cast'] = data_cast_rich.cast.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько актеров с одним актером
data_cast_rich_1 = data_cast_rich.explode('cast')

# вычисляем средний бюджет
budget_mean = round(data['budget'].mean())

# создаем новый датафрейм с фильмами с бюджетом больше среднего
data_high_budget = data_cast_rich_1[data_cast_rich_1['budget'] > budget_mean]

# с помощью функции value_counts считаем в скольких фильмах с бюджетом выше среднего снимались актеры
cast_high_budget = data_high_budget['cast'].value_counts()
cast_high_budget

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Johnny Whitworth      1
Charlie Tahan         1
Sarah Wynter          1
Oliver Reed           1
Rachel Bilson         1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [72]:
# +
answers['17'] = 'Action'
# Добавляем ответ в словарь

In [71]:
# создаем копию списка
data_cast_genres = data.copy()

# разделяем значения столбца актеры cast по знаку '|'
data_cast_genres['cast'] = data_cast_genres.cast.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько актеров с одним актером
data_cast_genres_1 = data_cast_genres.explode('cast')

# далее используем разделенный по одному актеру файл data_cast_genres_1
# разделяем значения столбца genres по знаку '|'
data_cast_genres_1['genres'] = data_cast_genres_1.genres.str.split('|')

# создаем новый датафрейм, функцией explode создаем копии строк в которых несколько жанров с одним жанром
data_cast_genres_2 = data_cast_genres_1.explode('genres')

# создаем новый датафрейм с фильмами с Nicolas Cage
data_genres_Nicolas_Cage = data_cast_genres_2[data_cast_genres_2['cast'] == 'Nicolas Cage']

# с помощью функции value_counts считаем фильмы с жанрами
genres_Nicolas_Cage = data_genres_Nicolas_Cage['genres'].value_counts()
genres_Nicolas_Cage

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)